<html>
<head>
  <title>Sinatra App</title>
</head>
<body>
  <p>Hi</p>
  <p>This is the convert route</p>
  <p><%= @foo.to_s.reverse %></p>
  <p><%= @bar.to_s.reverse %></p>
  <a href="/">Go back</a>
</body>
</html>