<html>
<head>
  <title>Sinatra App</title>
</head>
<body>
  <p>Hi</p>
  <form action="/convert">
    <label>Pounds <input id="products_box" type="text" name="pounds"></label>
    <label>Ounces <input id="ounces_box" type="text" name="ounces"></label>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <p>Test Div</p>
  <div class="test"></div>
</body>
</html>