<html>
<head>
  <title>Sinatra App</title>
</head>
<body>
  <p>Hi</p>
  <form action="/convert">
    <input type="text" name="foo">
    <input type="text" name="bar">
    <input type="submit">
  </form>
</body>
</html>