<!doctype html>
<html>
  <head>
    <title>Sinatra App</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script type="text/javascript" src="/javascript/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/javascript/application.js"></script>
  </head>
  <body>
    <p>This is the layout</p>
    <div>
      <%= yield %>
    </div>
  </body>
</html>